@import "tailwindcss";

:root {
  /* Colors */
  --color-primary: #7b8d85;
  --color-secondary: #F5F2ED;
  --color-tertiary: #2D3A30;
  --color-neutral: #706D67;

  /* Typography */
  --font-heading: "EB Garamond", serif;
  --font-body: "Manrope", sans-serif;
}

@theme {
  --color-primary: #8DA399;
  --color-secondary: #F5F2ED;
  --color-tertiary: #2D3A30;
  --color-neutral: #706D67;

  --font-heading: "EB Garamond", serif;
  --font-body: "Manrope", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #706D67;
}