.root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input_file_button {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0.25rem;
    position: relative;
}

.file_name {
    text-align: left;
}

.input_hide {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
    height: 1px;
    opacity: 0;
}

.input_file {
    cursor: pointer;
}

.file_data_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.75rem;
}

.delete_button {
    color: #ef4444;
    margin-left: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.error {
    font-size: 0.75rem;
    color: red;
}

.input_file::-webkit-file-upload-button {
    cursor: pointer;
}

input[type="file"] {
    font-size: 14px;
    color: #333;
}

input[type="file"]::file-selector-button {
    background: #ccc;
    border: none;
    padding: 4px 7px;
    border-radius: 2px;
    cursor: pointer;
}

/* Equivalente de .input_file_hide */
.input_file_hide {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
}

/* Equivalente de max-[420px]:w-full */
@media (max-width: 420px) {
    .input_file,
    .input_file_hide {
        width: 100%;
    }
}